@import "_variables.css";
@import "_typography.css";

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Regular.ttf');
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--linen);
  margin: 0;
  padding: 0;
  border: none;
}

.logo {
  width: 90%;
  margin: 0.5em 0;
}
.main {
  display: grid;
  grid-template-columns: 200px 1fr;
}

nav {
  background: var(--ember);
  height: 100vh;
  max-height: 100vh;
}

nav h1, h2, h3 {
  padding-left: 0.5em;
}


nav ul {
  padding: 0;
}
nav ul li {
  list-style: none;
  display: flex;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 0.5em;
}

nav ul li a:hover {
  background: var(--burnt-ember);
}
nav ul li a.active {
  color: var(--ember);
  background: var(--linen);
}


h1,h2,h3,h4,h5,h6 {
  color: var(--ember);
}

button {
  margin: 1em;
  padding: .75em;
  color: var(--ember);
  background: var(--white);
  border:1px solid var(--ember);
  border-radius: 4px;
  cursor: pointer;
  font-size:1em;
}

button:hover {
  background: var(--ember);
  color: var(--white);
}

button[disabled] {
  color: var(--gray);
  border:1px solid var(--gray);
  cursor: not-allowed;
}

button[disabled]:hover {
  background: none;
}

.right_col {
  padding: 1em;
  margin-bottom: 3em;
  max-height: 100vh;
  overflow: auto;
}


.terminal {
  padding: 1em;
}

input[type="text"], select {
  padding: 0 1em;
  margin: 1em;
  border: 1px solid var(--gray);
  height: 40px;
  color: var(--ember);
  border-radius: 4px;
  font-size: 1em;
}

.input--big {
  width: 400px;
}

code {
  background: var(--faint-gray);
  color: var(--blue);
  border-radius: 4px;
  font-weight: bold;
  padding: 1em;
  font-size: 1.25em;
  margin: 1em 0;
  display: block;

}

a {
  color: var(--ember);
}

.fas { padding-right: .25em; }

footer {
  position:fixed;
  bottom: 0;
  left: 200px;
  width: 100%;
  margin: 0 auto;
  text-align:center;
  background: var(--white);
}

footer p {
  margin: .5em 0;
}

.new-project-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

table, td,th {
  border: 1px solid var(--black);
  border-collapse: collapse;
}

table td, table th {
  padding: .5em;
}

.semver-badge {
  color: var(--white);
  padding: .25em;
  border-radius: 2px;
}
.patch {
  background: green;
}

.minor {
  background: #ff7700;
}

.major {
  background: var(--ember);
}

.loader {
  border: 8px solid var(--faint-gray);
  border-top: 8px solid var(--ember);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin-left: 50vh;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
