<label for="name">Addon Name: </label>
<Input id="name" type="text" class="input--big" placeholder="hello-world" @value={{this.name}}/>
<button type="button" class="text-right" {{on "click" this.runInstall}}><FaIcon @icon="download"/> Install</button>
<Terminal @command={{this.command}} @task="install"/>
