<label for="name">Addon Name: </label>
<Input id="name" type="text" placeholder="hello-world" @value={{this.name}}/>
<button type="button" class="text-right" {{on "click" this.runInstall}}>Install</button>
<Terminal @command={{this.command}}/>
