Name:<Input type="text" placeholder="hello-world" @value={{this.name}}/>
<button type="button" class="text-right" {{on "click" this.runInstall}}>Install</button>
<div id="terminal" {{did-insert this.initTerminal }}></div>
