<button type="button" {{on "click" this.startServer}}><i class="fas fa-play"></i> Start</button>
<button type="button" {{on "click" this.stopServer}}><i class="fas fa-stop"></i> Stop</button>
<Terminal @command={{this.command}} @task="serve"/>
