<button type="button" {{on "click" this.startServer}}><FaIcon @icon="play"/> Start</button>
<button type="button" {{on "click" this.stopServer}}><FaIcon @icon="stop"/> Stop</button>
<Terminal @command={{this.command}} @task="serve"/>
