<div class="main">
  <nav>
    <p class="text-center"><img class="logo" alt="ember-cli-ui" src="/assets/images/logo.png"/>
    </p>
    <ul>
      <li><LinkTo @route="index">Home</LinkTo></li>
    </ul>
    <hr/>
    <h3 class="text-white">Tasks</h3>
    <ul>
      <li>
        <LinkTo @route="serve">
        Serve</LinkTo>
      </li>
      <li>
        <LinkTo @route="test">
        Test</LinkTo></li>
      <li><LinkTo @route="lint">Lint</LinkTo></li>
      <li><LinkTo @route="generate">Generate</LinkTo></li>
      <li><LinkTo @route="destroy">Destroy</LinkTo></li>
      <li><LinkTo @route="install">Install</LinkTo></li>
      <li><LinkTo @route="build">Build</LinkTo></li>
    </ul>
    <hr/>
    <ul>
      <li>
        <LinkTo @route="project-tasks">Project Tasks</LinkTo>
      </li>
    </ul>
  </nav>
  <div class="right_col">
    {{outlet}}
  </div>
</div>
