<h2>Project Dependencies</h2>
<p>Your project's depenendencies and dev dependencies are listed here.</p>
<h3>Dependencies</h3>
    <DepsList @deps={{deps}} @type=""/>
<h3>Dev Dependencies</h3>
    <DepsList @deps={{deps}} @type="dev"/>
